<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>{% block title %}UpCloud{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('app') }}
{% endblock %}
</head>
<body>
{% block body %}

    <header>
    {% block header %}
        <div class="header">
            <div class="logo__block">
                <img class="logo__image" src="{{ asset('images/cloud.svg') }}" alt="">
                <h1 class="logo__text">
                    <a class="home__link" href="/">UpCloud</a>
                </h1>
            </div>
            <div class="sign__buttons">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            	<a href="{{ path('app_logout') }}" class="sign__button" id="signin">logout</a>
            {% else %}
                <a href="{{ path('app_register') }}" class="sign__button" id="signup">sign up</a>
                <a href="{{ path('app_login') }}" class="sign__button" id="signin">sign in</a>
            {% endif %}
            </div>
        </div>
        <div class="underhead__bar__container">
            <div class="underhead__bar">
                <div class="nav__path">
                    <h2 class="nav__item">
                        Detail
                    </h2>
                </div>
            </div>
        </div>
    {% endblock %}
    </header>

	<div class="container">
    {% block main %}
        <div class="detail_container">
        {% for item in items %}
            <div class="extension_block">
                <div class="extension-img_block">
                    <img src="/images/icons/{{ item.extension2 }}.svg">
                </div>
            </div>
            <div class="detail-info_block">
                <div class="detail-item">
                    <div class="detail-title">Title</div>
                    <div class="detail-info">{{ item.fileName }}.{{ item.extension }}</div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">Size</div>
                    <div class="detail-info">{{ item.size2 }}</div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">Upload date</div>
                    <div class="detail-info">{{ item.uploaded }}</div>
                </div>
            </div>
            <hr>
            <div class="detail-btns">
                <a class="detail-btn" href="/uploads/download/{{ item.id }}">Download</a>
                <a class="detail-btn" href="/uploads/archive/{{ item.id }}">Archive</a>
                <a class="detail-btn" href="/uploads/delete/{{ item.id }}">Delete</a>
            </div>
            {% for message in app.flashes('message-archive') %}
                <div class="alert center" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        </div>
    {% endblock %}
    </div>

    {% block left_sidebar %}
        <div class="left__sidebar__container">
            <div class="sidebar">
                <div class="sidebar__menu">
                    <div class="sidebar__item upload__file">
                        <p><a class="link" href="/upload_files">Upload</a></p>
                    </div>
                    <div class="sidebar__item">
                        <p><a class="link" href="/uploads">My UpCloud</a></p>
                    </div>
                    <div class="sidebar__item">
                        <p><a class="link" href="/archive">Archive</a></p>
                    </div>
                    {# <div class="sidebar__item">
                        <p><a class="link" href="">Viewed</a></p>
                    </div> #}
                    {# <div class="sidebar__item">
                        <p><a class="link" href="">For developers</a></p>
                    </div> #}
                </div>
                <div class="storage__stat__block">
                    <div class="storage__stat__scale">
                        <div class="storage__stat__left" style="width: {{ scale }}%"></div>
                    </div>
                    <div class="storage__stat__text">
                        Used {{ available_space }} of {{ all_space }}
                    </div>
                </div>
            </div>
            <div class="sidebar__button">
                <img class="sidebar__arrow" src="{{ asset('images/sidebar-arrow.svg')}}">
            </div>
        </div>
    {% endblock %}

    {% block right_sidebar %}
        <div class="right__sidebar__container">
            <div class="sidebar">
                <div class="sidebar__title">
                    History
                </div>
                <div class="sidebar__items">
                    {% for message in app.flashes('message-history') %}
                        <div class="alert center" role="alert">{{ message }}</div>
                    {% endfor %}
                    {% for record in history %}
                        <div class="right__sidebar__item">
                            <div class="item__content">
                                <div class="histiry__date">
                                    <div>{{ record.date }}</div>
                                    {# <div class="action">
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                    </div> #}
                                </div>
                                <div class="history__action">
                                    {{ record.file_name }} {{ record.message }}.
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}


</body>

{% block javascripts %}
    <script src="{{ asset('jquery.min.js') }}"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
