<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>{% block title %}UpCloud{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('app') }}
{% endblock %}
</head>
<body>
{% block body %}

    <header>
    {% block header %}
        <div class="header">
            <div class="logo__block">
                <img class="logo__image" src="{{ asset('images/cloud.svg') }}" alt="">
                <h1 class="logo__text">
                    <a class="home__link" href="/">UpCloud</a>
                </h1>
            </div>
            <div class="sign__buttons">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            	<a href="{{ path('app_logout') }}" class="sign__button" id="signin">logout</a>
            {% else %}
                <a href="{{ path('app_register') }}" class="sign__button" id="signup">sign up</a>
                <a href="{{ path('app_login') }}" class="sign__button" id="signin">sign in</a>
            {% endif %}
            </div>
        </div>
        <div class="underhead__bar__container">
            <div class="underhead__bar">
                <div class="nav__path">
                    <h2 class="nav__item">
                        Main
                    </h2>
                </div>
                <div class="rightside__block">
                    <div class="search__container">
                        <div class="search__block">
                            <img class="search__glass" src="{{ asset('images/search-glass.svg')}}">
                            <input class="search__field" type="search">
                        </div>
                    </div>
                    <img class="history__button" src="{{ asset('images/book.svg') }}">
                </div>
            </div>
        </div>
    {% endblock %}
    </header>

	<div class="container">
    {% block main %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="account-info_container">
                <div class="account_info">
                    <div class="photo_block">
                        <div class="photo">
                            <img src="{{ app.user.profileimage }}">
                        </div>
                        <input type="file" id="fileid">
                        <label for="fileid">Загрузить фотографию</label>
                        <!-- <input type="file" name="photo" class="load-photo"> -->
                    </div>
                    <div class="info_container">

                        <div class="info_block">
                            <div class="info-item_block">
                                <div class="info-item">
                                    <p>Name: {{ app.user.getUsername }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="info_block">
                            <div class="info-item_block">
                                <div class="info-item">
                                    <p>E-mail: {{ app.user.getEmail }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="info_block">
                            <div class="info-item_block">
                                <div class="info-item">
                                    <p>Register date: {{ app.user.getRegDate }}</p>
                                </div>
                            </div>
                        </div>
                        {# <div class="info_block">
                            <div class="info-item_block">
                                <div class="info-item">
                                    <p>Count of uploads: </p>
                                </div>
                            </div>
                        </div> #}

                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    </div>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% block left_sidebar %}
        <div class="left__sidebar__container">
            <div class="sidebar">
                <div class="sidebar__menu">
                    <div class="sidebar__item upload__file">
                        <p><a class="link" href="/upload_files">Upload</a></p>
                    </div>
                    <div class="sidebar__item">
                        <p><a class="link" href="/uploads">My UpCloud</a></p>
                    </div>
                    {# <div class="sidebar__item">
                        <p><a class="link" href="">Viewed</a></p>
                    </div> #}
                    {# <div class="sidebar__item">
                        <p><a class="link" href="">For developers</a></p>
                    </div> #}
                </div>
                <div class="storage__stat__block">
                    <div class="storage__stat__scale">
                        <div class="storage__stat__left" style="width: {{ scale }}%"></div>
                    </div>
                    <div class="storage__stat__text">
                        Used {{ available_space }} of {{ all_space }}
                    </div>
                </div>
            </div>
            <div class="sidebar__button">
                <img class="sidebar__arrow" src="{{ asset('images/sidebar-arrow.svg')}}">
            </div>
        </div>
    {% endblock %}

    {% block right_sidebar %}
        <div class="right__sidebar__container">
            <div class="sidebar">
                <div class="sidebar__title">
                    History
                </div>
                <div class="sidebar__items">
                    {% for record in history %}
                        <div class="right__sidebar__item">
                            <div class="item__content">
                                <div class="histiry__date">
                                    <div>{{ record.date }}</div>
                                    {# <div class="action">
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                    </div> #}
                                </div>
                                <div class="history__action">
                                    {{ record.file_name }} was uploaded.
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}
{% endblock %}


</body>

{% block javascripts %}
    <script src="{{ asset('jquery.min.js') }}"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
